@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
    font: 16px TheJamsil5Bold, GangwonEdu_OTFBoldA, sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
#logo{
  max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#logo img{
  width: 200px;
  margin: 50px;
}
.bar{
  font-size: 30px;
  z-index: 10;
  margin:  40px 0 0 40px;
}
header{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.left{
  width: 100%;
  max-width: 1280px;
  position: absolute;
  left: 40px;
  top: 70px;
}
.left .bottom{
    width: 150px;
    background-color: #fff;
}
.left .bottom > li{
  margin-bottom: 10px;
}
.left .bottom a:hover{
  color: lightcoral;
}
.pro{
    width: 1280px;
    height: 1000px;
    margin: 0 auto;
}
.pajama > p,
.acc_pro > p{
    /* width: 1280px; */
    font-size: 25px;
    margin: 10px 0 30px 0;
}
.pro .pro_top,
.pro .pro_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.pro .first, 
.pro .secound,
.pro .third,
.pro .four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: GangwonEduAll;
    font-size: 18px;
}
.pro img{
    width: 230px;
    height: 230px;
    border: 2px dotted #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    object-fit: cover;
}
footer{
  width: 100%;
  margin: 0 auto;
  background: #ccc;
  margin-top: 50px;
}
footer .foot_top{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  text-align: center;
}
footer p{
  color: #fff; 
  font-size: 20px;
}
footer .tittle{
  font-size: 25px;
}
footer div{
  padding: 20px;
}
footer .cs p:first-child{
  margin: 10px;
}
footer .address p{
  margin: 10px;
}
footer .parcel p{
  margin: 10px;
}
footer .bank p{
  margin: 10px;
}
footer .address p a{
  color: #fff;
  border: 1px solid #fff;
  padding: 3px 23px 3px ;
}
footer .underline{
  width: 1280px;
  border-bottom: 2px solid #fff;
}
footer .foot_bottom{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  text-align: center;
}
footer .foot p i{
  margin-right: 10px;
}
@media screen and (max-width: 1024px){
  .bar{
    margin: 0 ;
  }
  .left{
    left: 0;
    top: 30px;
  }
  .pro{
    width: 100%;
  }
  .pro img{
    width: 185px;
    height: 185px;
  }
}